body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mapContainer {
  width: 40%;
  padding-top: 2em; 
  padding-left: 2em;
  background-color: lightblue;
}

.quakeContainer {
  width: 40%;
  padding-top: 2em; 
  padding-right: 2em;
  background-color: pink;
}