body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mapContainer {
  padding-top: 2em; 
  padding-left: 2em;
}

.quakeContainer {
  padding-top: 2em; 
  padding-right: 2em;
}

ul {list-style: none}

